<div style="width:100%; float:left">
    <% @prod_servers.each { |server| %>
        <div class="div_env_box" id="<%= server.name%>">
            <div class="div_env_title div_prod_server">
                <%= render partial: "serverhead", locals: {server: server} %>
            </div>

            <% server.applications.each_value { |app| %>
                <div style="width:100%">
                    <div class="div_app" style="background-color:orange">
                        <%= app.name %>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
</div>
<div style="width:100%; float:left">
    <% @non_prod_servers.each { |server| %>
        <div class="div_env_box" id="<%= server.name%>">
            <div class="div_env_title">
                <%= render partial: "serverhead", locals: {server: server} %>
            </div>

            <% server.applications.each_value { |app| %>
                <div style="width:100%">
                    <div class="div_app">
                        <%= app.name %>
                    </div>
                    <% 
                        diff = VersionDiff.new
                        diff.compare(app, server, app.production)
                        logger.debug diff.additional_packages
                    %>
                    <div class="div_pkg">
                        <% if diff.is_same %>
                            no diff
                        <% else %>
                            <% diff.additional_packages.each{ |pkg| %>
                                <a href="/package/get/<%= pkg.id %>"><span class="symbol add">+</span></a>
                            <% } %>
                            <% diff.missed_packages.each{ |pkg| %>
                                <a href="/package/get/<%= pkg.id %>"><span class="symbol minuse">-</span></a>
                            <% } %>
                        <% end %>
                    </div>
                </div>
            <% } %>

        </div>
    <% } %>
</div>
<div class="info_panel">
    <div class="info_panel_head">
        Coming Deployment
    </div>
    <% if @coming_deployments.nil? or @coming_deployments.size == 0 %>
        <span>There is no coming deployment</span>
    <% else %>
        <%= render partial: "deployment/deploymentlist", locals: {deployments: @coming_deployments} %>
    <% end %>
</div>
<div class="info_panel">
    <div class="info_panel_head">
        Coming Refreshment 
    </div>
    <% if @coming_refreshments.nil? or @coming_refreshments.size == 0 %>
        <span>There is no coming refreshment</span>
    <% else %>
        <%= render partial: "refresh/refreshlist", locals: {refreshes: @coming_refreshments} %>
    <% end %>
</div>
