<h2>Create New Server</h2>
<%= form_for(@server, url: {controller: "dashboard", action: "create_server"}) do |f| %>
    <div style="width:80%">
        <div class="div_field">
            <div class="field_name">Name</div>
            <div class="field_value">
                <%= f.text_field :name, 'data-role'=>'none', :class=>'form_field' %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Host</div>
            <div class="field_value">
                <%= f.text_field :host, 'data-role'=>'none', :class=>'form_field' %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">IP</div>
            <div class="field_value">
                <%= f.text_field :ip, 'data-role'=>'none', :class=>'form_field' %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Production Server?</div>
            <div class="field_value">
                <%= f.check_box :is_benchmark, 'data-role'=>'none', :class=>'form_field' %>
            </div>
        </div>
        <div>
            <input type="submit" value="Create" data-inline="true" data-mini="true" />
        </div>
    </div>
<% end %>
