<table data-role="table" class="ui-responsive" id="deployment_table">
    <thead>
    <tr>
        <th data-priority="1">Date</th>
    	<th data-priority="2">Environment</th>
	    <th data-priority="3">Package</th>
        <th data-priority="4">Deployed By</th>
        <th data-priority="5">Status</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% deployments.each { |deploy|  %>
    <tr>
        <td><%= deploy.date %></td>
        <td><%= deploy.server.name %></td>
        <td>
            <% deploy.packages.each{ |package| %>
                <span><%= package.name %></span><br/>
            <% } %>
        </td>
        <td><%= deploy.deployed_by %></td>
        <td id="<%= 'status_cell_%d' % deploy.id %>"><%= deploy.status.name %></td>
        <td>
            <a href="/deployment/get/<%= deploy.id %>">detail</a>
            <a id="btn_complete_<%= deploy.id %>" href="#" onclick="onDeploymentCloseButtonClick(<%= deploy.id %>);">Close</a>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
