<h2>Create New Server</h2>
<%= form_for(@deployment, url: {controller: "deployment", action: "create"}) do |f| %>
    <div style="width:80%">
        <div class="div_field">
            <div class="field_name">Date</div>
            <div class="field_value">
                <%= f.datetime_select :date, {}, {'data-role'=>'none'} %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Target Server</div>
            <div class="field_value">
                <%= f.collection_select :server_id, @servers, :id, :name, {prompt: true}, {'data-role'=>'none', :class=>'form_field'} %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Deployed By</div>
            <div class="field_value">
                <%= f.text_field :deployed_by, 'data-role'=>'none', :class=>'form_field' %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Status</div>
            <div class="field_value">
                <%= f.collection_select :status_id, @statuses, :id, :name, {prompt: true}, {'data-role'=>'none', :class=>'form_field'} %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Deployed Packages</div>
            <div class="field_value">
                <%= f.collection_select :packages, @packages, :id, :name, {prompt: false}, {'data-role'=>'none', :class=>'form_field', :multiple=>true} %>
            </div>
        </div>
        <div>
            <input type="submit" value="Create" data-inline="true" data-mini="true" />
        </div>
    </div>
<% end %>
