<h2>Deployment Information</h2>
<div style="width:80%">
    <div class="div_field">
        <span class="field_name">Server</span>
        <span class="field_value"><%= @deploy.server.name %></span>
    </div>

    <div class="div_field">
        <span class="field_name">Deployed Date</span>
        <span class="field_value"><%= @deploy.date %></span>
    </div>

    <div class="div_field">
        <span class="field_name">Deployed By</span>
        <span class="field_value"><%= @deploy.deployed_by %></span>
    </div>

    <div style="width:100%;float:left">
        <div class="section_head">
            <h3>Deployed Packages</h3>
        </div>
        
        <table data-role="table" class="ui-responsive" id="deployment_table">
            <thead>
                <tr>
                    <th data-priority="1">Name</th>
                    <th data-priority="2">Application</th>
                </tr>
            </thead>

            <tbody>
                <% @deploy.packages.each{ |package| %>
                    <tr>
                        <td><a href="/package/get/<%= package.id %>"><%= package.name %></a></td>
                        <td><%= package.application.name %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
