<h2>Package List</h2>
<table data-role="table" class="ui-responsive" id="deployment_table">
    <thead>
    <tr>
        <th data-priority="1">Name</th>
    	<th data-priority="2">Application</th>

        <% @servers.each{ |server| %>
            <th><%= server.name %></th>
        <% } %>
    </tr>
    </thead>

    <tbody>
    <% @packages.each { |package|  %>
    <tr>
        <td><a href="/package/get/<%= package.id %>"><%= package.name %></a></td>
        <td><%= package.application.name %></td>
        
        <% @servers.each{ |server| %>
            <td>
                <% if package.installed?(server) %>
                    <div class="indicator installed">x</div>
                <% else %>
                    <div class="indicator not-installed">-</div>
                <% end %>
            </td>
        <% } %>
    </tr>
    <% } %>
    </tbody>
</table>
