<h2>Create New Package</h2>
<%= form_for(@package, url: {controller: "package", action: "create"}) do |f| %>
    <div style="width:80%">
        <div class="div_field">
            <div class="field_name">Name</div>
            <div class="field_value">
                <%= f.text_field :name, 'data-role'=>'none', :class=>'form_field' %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Application</div>
            <div class="field_value">
                <%= f.collection_select :application_id, @applications, :id, :name, {prompt: true}, {'data-role'=>'none', :class=>'form_field'} %>
            </div>
        </div>
        <div>
            <input type="submit" value="Create" data-inline="true" data-mini="true" />
        </div>
    </div>
<% end %>
