<h2>Package Information</h2>
<div style="width:80%">
    <div class="div_field">
        <span class="field_name">Name</span>
        <span class="field_value"><%= @package.name %></span>
    </div>
    <div class="div_field">
        <span class="field_name">Application</span>
        <span class="field_value"><%= @package.application.name %></span>
    </div>

    <div style="width:100%;float:left">
        <div class="section_head">
            <h3>Deployment Log</h3>
        </div>
        <table data-role="table" class="ui-responsive" id="deployment_table">
            <thead>
                <tr>
                    <th data-priority="1">Date</th>
                    <th data-priority="2">Server</th>
                    <th data-priority="3">Deployed By</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% @package.deployments.each { |deploy|  %>
                    <tr>
                        <td><%= deploy.date %></td>
                        <td><%= deploy.server.name %></td>
                        <td><%= deploy.deployed_by %></td>
                        <td><a href="/deployment/<%= deploy.id %>">detail</a></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>


</div>
