<table data-role="table" class="ui-responsive" id="deployment_table">
    <thead>
    <tr>
        <th data-priority="1">Server</th>
        <th data-priority="2">Application</th>
        <th data-priority="3">EOD for Refresh</th>
        <th data-priority="4">Status</th>
        <th data-priority="5">Implement Schedule</th>
        <th data-priority="6">Action</th>
    </tr>
    </thead>

    <tbody>
        <% refreshes.each { |refresh| %>
    <tr>
        <td><%= refresh.server.name %></td>
        <td><%= refresh.application.name %></td>
        <td><%= refresh.eod_date.strftime('%Y-%m-%d') %></td>
        <td id="status_cell_<%= refresh.id %>"><%= refresh.status.name %></td>
        <td><%= refresh.implement_time %></td>
        <td>
            <a id="btn_complete_<%= refresh.id %>" href="#" onclick="onRefreshCloseButtonClick(<%= refresh.id %>);">Complete</a>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
