<h2>Create New Refresh</h2>
<%= form_for(@refresh, url: {controller: "refresh", action: "create"}) do |f| %>
    <div style="width:80%">
        <div class="div_field">
            <div class="field_name">Post EOD</div>
            <div class="field_value">
                <%= f.date_select :eod_date, {}, {'data-role'=>'none'} %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Refresh Server</div>
            <div class="field_value">
                <%= f.collection_select :server_id, @servers, :id, :name, {prompt: true}, {'data-role'=>'none', :class=>'form_field'} %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">From Server</div>
            <div class="field_value">
                <%= f.collection_select :source_id, @servers, :id, :name, {prompt: true}, {'data-role'=>'none', :class=>'form_field'} %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Application</div>
            <div class="field_value">
                <%= f.collection_select :application_id, @applications, :id, :name, {prompt: true}, {'data-role'=>'none', :class=>'form_field'} %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Implement Time</div>
            <div class="field_value">
                <%= f.datetime_select :implement_time, {}, {'data-role'=>'none'} %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Status</div>
            <div class="field_value">
                <%= f.collection_select :status_id, @statuses, :id, :name, {prompt: true}, {'data-role'=>'none', :class=>'form_field'} %>
            </div>
        </div>
        <div>
            <input type="submit" value="Create" data-inline="true" data-mini="true" />
        </div>
    </div>
<% end %>
