/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.dropdown
 *= require_self
 *= require_tree .
 */

body, input{
    font-size: 12px !important;
    font-weight: 0 !important;
}

.div_field {
    width: 100%;
    float: left;
    vertical-align: middle;
}

.field_name {
    width: 20%;
    background-color: #E0E0E0;
    margin: 1px;
    border: 1px solid #D8D8D8;
    float: left;
    font-weight: bold;
}

.field_value {
    width: 70%;
    margin: 1px;
    float: left;
}

.form_field {
    min-height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 100%;
}

.section_head {
    width: 100%;
}

.navigation_bar {
    width: 100%;
    height: 30px;
    background-color: black;
}

.menu_item {
    width: 80px;
    color: #D8D8D8;
    margin: 5px;
    font-size: 10pt;
    float: left;
    text-align: center;
    font-weight: normal !important;
}
