// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.div_env_box {
    border-style: solid;
    border-width: 1px;
    width: 200px;
    float: left;
    margin: 10px;
    text-align: center;
}

.div_env_title {
    border-style: solid;
    border-width: 0.5px;
    width: 100%;
    background-color: #333366; 
//    font-weight: bold;
    color: white;
}

.div_prod_server {
    background-color: #990000 !important;
}

.div_app {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1pt;
    border-bottom-width: 1pt;
    width: 100%;
    height: 20px;
    float: left;
    background-color: #FF9900;
}

.div_pkg {
    border-style: solid;
    border-width: 0;
    width: 100%;
    float: left;
    text-align: left;

    min-height: 20px;
    height: auto !important;
    height: 20px;
}

.symbol {
    font-size: 14px;
}

.add {
    color: blue;
}

.minuse {
    color: red;
}

.info_panel {
    width: 40%;
    border:1px solid;
//    border-radius: 5px;
    float: left;
    margin: 10px;
}

.info_panel_head {
    width: 100%;
    background-color: #E0E0E0;
    font-weight: bold;
    font-size: 14px; 
}
