// Place all the styles related to the Package controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indicator {
    text-align: center;
}

.installed {
    color: green;
}

.not-installed {
    color: red;
}
