<h2>Application List</h2>
<table data-role="table" class="ui-responsive" id="deployment_table">
    <thead>
    <tr>
        <th data-priority="1">Name</th>
        <th data-priority="2">Production Server</th>
    </tr>
    </thead>

    <tbody>
    <% @applications.each { |app|  %>
    <tr>
        <td><%= app.name %></td>
        <td><%= app.production.name %></td>
    </tr>
    <% } %>
    </tbody>
</table>
