<h2>Create New Server</h2>
<%= form_for(@application, url: {controller: "application", action: "create"}) do |f| %>
    <div style="width:80%">
        <div class="div_field">
            <div class="field_name">Name</div>
            <div class="field_value">
                <%= f.text_field :name, 'data-role'=>'none', :class=>'form_field' %>
            </div>
        </div>
        <div class="div_field">
            <div class="field_name">Production Server</div>
            <div class="field_value">
                <%= f.collection_select :production_id, @prod_servers, :id, :name, {prompt: true}, {'data-role'=>'none', :class=>'form_field'} %>
            </div>
        </div>
        <div>
            <input type="submit" value="Create" data-inline="true" data-mini="true" />
        </div>
    </div>
<% end %>
