<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
        <title>Light</title>

        <link rel="stylesheet" href="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.css"/>

        <!-- jQuery and jQuery Mobile -->
        <script src="https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js"></script>
        <script src="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>

    </head>
    <body>
        <div data-role="page" id="page1">
            <div class="navigation_bar">
                <a href="/dashboard" data-transition="fade">
                    <div class="menu_item">Dashboard</div>
                </a>
                <a href="/application" data-transition="fade">
                    <div class="menu_item">Application</div>
                </a>
                <a href="/package" data-transition="fade">
                    <div class="menu_item">Package</div>
                </a>
                <a href="/deployment" data-transition="fade">
                    <div class="menu_item">Deployment</div>
                </a>
                <a href="/refresh" data-transition="fade">
                    <div class="menu_item">Refresh</div>
                </a>
                <a href="#" data-transition="fade">
                    <div class="menu_item">Search</div>
                </a>
                <a href="#"> 
                    <div data-dropdown="#dropdown_create" class="menu_item">Create</div>
                </a>
            </div>
            <div data-role="content">
                <%= yield %>
            </div>
        </div>
        <div id="dropdown_create" class="dropdown dropdown-tip">
            <ul class="dropdown-menu">
                <li><a href="/dashboard/newserver">New Server</a></li>
                <li><a href="/application/new">New Application</a></li>
                <li><a href="/package/new">New Package</a></li>
                <li class="dropdown-divider"></li>
                <li><a href="/deployment/new">New Deployment</a></li>
                <li><a href="/refresh/new">New Refresh</a></li>
            </ul>
        </div>
    </body>
</html>
